In [14]:
import numpy as np
import pandas as pd

In [15]:
from sklearn.model_selection import train_test_split
from sklearn.model_selection import StratifiedKFold
import matplotlib.pyplot as plt
import lightgbm as lgb
import seaborn as sns
from sklearn.model_selection import KFold
from sklearn.metrics import roc_auc_score
import gc

In [17]:
sanren_odds = pd.read_csv("/home/hiroki/bigdata/keiba_data/odds_sanrenpuku.csv",)
umatan_odds = pd.read_csv("/home/hiroki/bigdata/keiba_data/odds_uma_tan.csv")
sanren_harai = pd.read_csv("/home/hiroki/bigdata/keiba_data/harai_sanrenpuku.csv")
#umatan_harai = pd.read_csv("/Users/k17099kk/bigdata/keiba_data/harai_umatan.csv")

In [18]:
gc.collect()

705

In [19]:
さきほどの例では、パラメータの組み合わせが単純だったので、正直 Optuna の真価を示すことができていなかった。 そこで、次はもう少しだけ複雑な例を扱ってみることにする。

odds = pd.concat([sanren_odds, umatan_odds], axis=1)

In [20]:
data = pd.concat([sanren_harai, odds], axis=1)

In [22]:
sanren_harai.describe()

       target_harai   target_rank
count  1.592600e+04  15926.000000
mean   2.322643e+04     41.812194
std    9.119192e+04     66.357766
min    1.300000e+02      1.000000
25%    2.090000e+03      5.000000
50%    5.340000e+03     16.000000
75%    1.592750e+04     49.000000
max    5.508830e+06    814.000000

In [ ]:
target