In [255]:
import pandas as pd
import numpy as np

In [256]:
sanrenpuku = pd.read_csv("ODDS_SANREN.txt", header=None)
umatan = pd.read_csv("ODDS_UMATAN.txt", header=None)

In [257]:
harai = pd.read_csv("HARAI.txt", header=None)

In [340]:
harai[156]

0          2
1          1
2         17
3         16
4         82
5          4
6         28
7         47
8        139
9          4
10         5
11         1
12         6
13        13
14        32
15        12
16         5
17        21
18       180
19         7
20         8
21         7
22        21
23         1
24         7
25         6
26        35
27        68
28        25
29        50
        ...
15896      6
15897      8
15898     32
15899     39
15900      2
15901      1
15902     22
15903      5
15904     61
15905     33
15906      6
15907      8
15908     17
15909     47
15910     17
15911     14
15912     50
15913     16
15914      7
15915    118
15916     37
15917     23
15918      2
15919      4
15920     40
15921     49
15922      8
15923     63
15924      8
15925     62
Name: 156, Length: 15926, dtype: int64

In [341]:
#harai[173][174]
harai_sanrenpuku = pd.concat([harai[173], harai[174]], axis=1)
harai_umatan = pd.concat([harai[155], harai[156]], axis=1)

In [342]:
harai_umatan

          155  156
0        1330    2
1         620    1
2        4090   17
3        3750   16
4       43850   82
5        1440    4
6        6150   28
7       13930   47
8       67460  139
9        1350    4
10       2880    5
11       1830    1
12       2510    6
13       3140   13
14       7870   32
15       3930   12
16       2130    5
17       4830   21
18     216600  180
19       2600    7
20       1930    8
21       1980    7
22       4960   21
23        730    1
24       1840    7
25       2060    6
26       7970   35
27      39860   68
28       6820   25
29      18910   50
...       ...  ...
15896    1740    6
15897    2380    8
15898   10790   32
15899   13120   39
15900    1480    2
15901     540    1
15902    7240   22
15903    1640    5
15904   14860   61
15905    8600   33
15906    1550    6
15907    2980    8
15908    4270   17
15909   12180   47
15910    5140   17
15911    4920   14
15912   13530   50
15913    4520   16
15914    1960    7
15915  127300  118
15916    8870   37
15917    6690   23
15918    1450    2
15919    1470    4
15920   10910   40
15921   10720   49
15922    2160    8
15923   18070   63
15924    3080    8
15925   13190   62

[15926 rows x 2 columns]

In [343]:
harai_sanrenpuku

          173  174
0        7070   22
1        1600    4
2        4160   11
3        3050    9
4       11910   37
5        1080    2
6        5940   21
7        6140   14
8       68980  162
9        1050    3
10       3630    7
11       3260    6
12       2070    3
13       1860    3
14      28880   82
15      37590  107
16       2160    4
17       6510   24
18     538760  369
19       3880   11
20       1460    6
21        990    1
22      12420   36
23       2540    5
24        840    2
25       1210    2
26       9980   36
27     132510  141
28       8050   24
29      29120   81
...       ...  ...
15896    1030    3
15897    1950    4
15898   16670   48
15899   12620   41
15900    2700    4
15901    1710    5
15902    4320   16
15903   32820   74
15904   12090   46
15905   33590  110
15906     930    1
15907   17760   60
15908    1590    3
15909   17440   63
15910    1750    6
15911   14880   43
15912   33600  119
15913    2700    9
15914   17020   46
15915  483720  252
15916    7590   29
15917   28180   95
15918   12060   36
15919    1950    6
15920    7470   26
15921    7700   24
15922    4450   17
15923   31100   80
15924    8030   29
15925   26960  120

[15926 rows x 2 columns]

In [258]:
sanrenpuku.head()

          0     1    2  3  4  5  6      7       8    9
0  20150106  2015  104  6  1  1  1  10203  019224  211
1  20150106  2015  104  6  1  1  1  10204  023246  234
2  20150106  2015  104  6  1  1  1  10205  010141  153
3  20150106  2015  104  6  1  1  1  10206  091027  393
4  20150106  2015  104  6  1  1  1  10207  087851  387

In [259]:
umatan.head()

          0     1    2  3  4  5  6    7       8    9
0  20150106  2015  104  6  1  1  1  102  020602  154
1  20150106  2015  104  6  1  1  1  103  013444  132
2  20150106  2015  104  6  1  1  1  104  011412  126
3  20150106  2015  104  6  1  1  1  105  005585  091
4  20150106  2015  104  6  1  1  1  106  032048  175

In [260]:
sanrenpuku.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 6850205 entries, 0 to 6850204
Data columns (total 10 columns):
0    int64
1    int64
2    int64
3    int64
4    int64
5    int64
6    int64
7    int64
8    object
9    object
dtypes: int64(8), object(2)
memory usage: 522.6+ MB

In [261]:
umatan.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 3126004 entries, 0 to 3126003
Data columns (total 10 columns):
0    int64
1    int64
2    int64
3    int64
4    int64
5    int64
6    int64
7    int64
8    object
9    object
dtypes: int64(8), object(2)
memory usage: 238.5+ MB

In [262]:
harai.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 15926 entries, 0 to 15925
Columns: 199 entries, 0 to 198
dtypes: float64(8), int64(110), object(81)
memory usage: 24.2+ MB

In [263]:
umatan[umatan[8] == '------']

                0     1    2   3  4  5  6     7       8    9
7342     20150106  2015  105   8  1  2  1   106  ------  ---
7357     20150106  2015  105   8  1  2  1   206  ------  ---
7372     20150106  2015  105   8  1  2  1   306  ------  ---
7387     20150106  2015  105   8  1  2  1   406  ------  ---
7402     20150106  2015  105   8  1  2  1   506  ------  ---
7413     20150106  2015  105   8  1  2  1   601  ------  ---
7414     20150106  2015  105   8  1  2  1   602  ------  ---
7415     20150106  2015  105   8  1  2  1   603  ------  ---
7416     20150106  2015  105   8  1  2  1   604  ------  ---
7417     20150106  2015  105   8  1  2  1   605  ------  ---
7418     20150106  2015  105   8  1  2  1   607  ------  ---
7419     20150106  2015  105   8  1  2  1   608  ------  ---
7420     20150106  2015  105   8  1  2  1   609  ------  ---
7421     20150106  2015  105   8  1  2  1   610  ------  ---
7422     20150106  2015  105   8  1  2  1   611  ------  ---
7423     20150106  2015  105   8  1  2  1   612  ------  ---
7424     20150106  2015  105   8  1  2  1   613  ------  ---
7425     20150106  2015  105   8  1  2  1   614  ------  ---
7426     20150106  2015  105   8  1  2  1   615  ------  ---
7427     20150106  2015  105   8  1  2  1   616  ------  ---
7433     20150106  2015  105   8  1  2  1   706  ------  ---
7448     20150106  2015  105   8  1  2  1   806  ------  ---
7463     20150106  2015  105   8  1  2  1   906  ------  ---
7478     20150106  2015  105   8  1  2  1  1006  ------  ---
7493     20150106  2015  105   8  1  2  1  1106  ------  ---
7508     20150106  2015  105   8  1  2  1  1206  ------  ---
7523     20150106  2015  105   8  1  2  1  1306  ------  ---
7538     20150106  2015  105   8  1  2  1  1406  ------  ---
7553     20150106  2015  105   8  1  2  1  1506  ------  ---
7568     20150106  2015  105   8  1  2  1  1606  ------  ---
...           ...   ...  ...  .. .. .. ..   ...     ...  ...
3121815  20190805  2019  804   4  2  4  1  1108  ------  ---
3121828  20190805  2019  804   4  2  4  1  1208  ------  ---
3121841  20190805  2019  804   4  2  4  1  1308  ------  ---
3121854  20190805  2019  804   4  2  4  1  1408  ------  ---
3125109  20190805  2019  804  10  2  4  7   109  ------  ---
3125122  20190805  2019  804  10  2  4  7   209  ------  ---
3125135  20190805  2019  804  10  2  4  7   309  ------  ---
3125148  20190805  2019  804  10  2  4  7   409  ------  ---
3125161  20190805  2019  804  10  2  4  7   509  ------  ---
3125174  20190805  2019  804  10  2  4  7   609  ------  ---
3125187  20190805  2019  804  10  2  4  7   709  ------  ---
3125200  20190805  2019  804  10  2  4  7   809  ------  ---
3125206  20190805  2019  804  10  2  4  7   901  ------  ---
3125207  20190805  2019  804  10  2  4  7   902  ------  ---
3125208  20190805  2019  804  10  2  4  7   903  ------  ---
3125209  20190805  2019  804  10  2  4  7   904  ------  ---
3125210  20190805  2019  804  10  2  4  7   905  ------  ---
3125211  20190805  2019  804  10  2  4  7   906  ------  ---
3125212  20190805  2019  804  10  2  4  7   907  ------  ---
3125213  20190805  2019  804  10  2  4  7   908  ------  ---
3125214  20190805  2019  804  10  2  4  7   910  ------  ---
3125215  20190805  2019  804  10  2  4  7   911  ------  ---
3125216  20190805  2019  804  10  2  4  7   912  ------  ---
3125217  20190805  2019  804  10  2  4  7   913  ------  ---
3125218  20190805  2019  804  10  2  4  7   914  ------  ---
3125227  20190805  2019  804  10  2  4  7  1009  ------  ---
3125240  20190805  2019  804  10  2  4  7  1109  ------  ---
3125253  20190805  2019  804  10  2  4  7  1209  ------  ---
3125266  20190805  2019  804  10  2  4  7  1309  ------  ---
3125279  20190805  2019  804  10  2  4  7  1409  ------  ---

[4820 rows x 10 columns]

In [264]:
umatan[umatan[8] == '******']

                0     1    2  3  4  5   6     7       8    9
13047    20150113  2015  110  8  1  3   5   115  ******  ***
13062    20150113  2015  110  8  1  3   5   215  ******  ***
13077    20150113  2015  110  8  1  3   5   315  ******  ***
13092    20150113  2015  110  8  1  3   5   415  ******  ***
13107    20150113  2015  110  8  1  3   5   515  ******  ***
13122    20150113  2015  110  8  1  3   5   615  ******  ***
13137    20150113  2015  110  8  1  3   5   715  ******  ***
13152    20150113  2015  110  8  1  3   5   815  ******  ***
13167    20150113  2015  110  8  1  3   5   915  ******  ***
13182    20150113  2015  110  8  1  3   5  1015  ******  ***
13197    20150113  2015  110  8  1  3   5  1115  ******  ***
13212    20150113  2015  110  8  1  3   5  1215  ******  ***
13227    20150113  2015  110  8  1  3   5  1315  ******  ***
13242    20150113  2015  110  8  1  3   5  1415  ******  ***
13244    20150113  2015  110  8  1  3   5  1501  ******  ***
13245    20150113  2015  110  8  1  3   5  1502  ******  ***
13246    20150113  2015  110  8  1  3   5  1503  ******  ***
13247    20150113  2015  110  8  1  3   5  1504  ******  ***
13248    20150113  2015  110  8  1  3   5  1505  ******  ***
13249    20150113  2015  110  8  1  3   5  1506  ******  ***
13250    20150113  2015  110  8  1  3   5  1507  ******  ***
13251    20150113  2015  110  8  1  3   5  1508  ******  ***
13252    20150113  2015  110  8  1  3   5  1509  ******  ***
13253    20150113  2015  110  8  1  3   5  1510  ******  ***
13254    20150113  2015  110  8  1  3   5  1511  ******  ***
13255    20150113  2015  110  8  1  3   5  1512  ******  ***
13256    20150113  2015  110  8  1  3   5  1513  ******  ***
13257    20150113  2015  110  8  1  3   5  1514  ******  ***
13258    20150113  2015  110  8  1  3   5  1516  ******  ***
13273    20150113  2015  110  8  1  3   5  1615  ******  ***
...           ...   ...  ... .. .. ..  ..   ...     ...  ...
3121636  20190805  2019  804  1  1  4  12   903  ******  ***
3121637  20190805  2019  804  1  1  4  12   904  ******  ***
3121638  20190805  2019  804  1  1  4  12   905  ******  ***
3121639  20190805  2019  804  1  1  4  12   906  ******  ***
3121640  20190805  2019  804  1  1  4  12   907  ******  ***
3121641  20190805  2019  804  1  1  4  12   908  ******  ***
3121642  20190805  2019  804  1  1  4  12   910  ******  ***
3121643  20190805  2019  804  1  1  4  12   911  ******  ***
3121644  20190805  2019  804  1  1  4  12   912  ******  ***
3121653  20190805  2019  804  1  1  4  12  1009  ******  ***
3121664  20190805  2019  804  1  1  4  12  1109  ******  ***
3121675  20190805  2019  804  1  1  4  12  1209  ******  ***
3123475  20190805  2019  804  4  2  4   9   107  ******  ***
3123484  20190805  2019  804  4  2  4   9   207  ******  ***
3123493  20190805  2019  804  4  2  4   9   307  ******  ***
3123502  20190805  2019  804  4  2  4   9   407  ******  ***
3123511  20190805  2019  804  4  2  4   9   507  ******  ***
3123520  20190805  2019  804  4  2  4   9   607  ******  ***
3123524  20190805  2019  804  4  2  4   9   701  ******  ***
3123525  20190805  2019  804  4  2  4   9   702  ******  ***
3123526  20190805  2019  804  4  2  4   9   703  ******  ***
3123527  20190805  2019  804  4  2  4   9   704  ******  ***
3123528  20190805  2019  804  4  2  4   9   705  ******  ***
3123529  20190805  2019  804  4  2  4   9   706  ******  ***
3123530  20190805  2019  804  4  2  4   9   708  ******  ***
3123531  20190805  2019  804  4  2  4   9   709  ******  ***
3123532  20190805  2019  804  4  2  4   9   710  ******  ***
3123539  20190805  2019  804  4  2  4   9   807  ******  ***
3123548  20190805  2019  804  4  2  4   9   907  ******  ***
3123557  20190805  2019  804  4  2  4   9  1007  ******  ***

[21232 rows x 10 columns]

In [265]:
sanrenpuku[sanrenpuku[8] == '------']

                0     1    2   3  4  5  6      7       8    9
16330    20150106  2015  105   8  1  2  1  10206  ------  ---
16343    20150106  2015  105   8  1  2  1  10306  ------  ---
16355    20150106  2015  105   8  1  2  1  10406  ------  ---
16366    20150106  2015  105   8  1  2  1  10506  ------  ---
16377    20150106  2015  105   8  1  2  1  10607  ------  ---
16378    20150106  2015  105   8  1  2  1  10608  ------  ---
16379    20150106  2015  105   8  1  2  1  10609  ------  ---
16380    20150106  2015  105   8  1  2  1  10610  ------  ---
16381    20150106  2015  105   8  1  2  1  10611  ------  ---
16382    20150106  2015  105   8  1  2  1  10612  ------  ---
16383    20150106  2015  105   8  1  2  1  10613  ------  ---
16384    20150106  2015  105   8  1  2  1  10614  ------  ---
16385    20150106  2015  105   8  1  2  1  10615  ------  ---
16386    20150106  2015  105   8  1  2  1  10616  ------  ---
16434    20150106  2015  105   8  1  2  1  20306  ------  ---
16446    20150106  2015  105   8  1  2  1  20406  ------  ---
16457    20150106  2015  105   8  1  2  1  20506  ------  ---
16468    20150106  2015  105   8  1  2  1  20607  ------  ---
16469    20150106  2015  105   8  1  2  1  20608  ------  ---
16470    20150106  2015  105   8  1  2  1  20609  ------  ---
16471    20150106  2015  105   8  1  2  1  20610  ------  ---
16472    20150106  2015  105   8  1  2  1  20611  ------  ---
16473    20150106  2015  105   8  1  2  1  20612  ------  ---
16474    20150106  2015  105   8  1  2  1  20613  ------  ---
16475    20150106  2015  105   8  1  2  1  20614  ------  ---
16476    20150106  2015  105   8  1  2  1  20615  ------  ---
16477    20150106  2015  105   8  1  2  1  20616  ------  ---
16524    20150106  2015  105   8  1  2  1  30406  ------  ---
16535    20150106  2015  105   8  1  2  1  30506  ------  ---
16546    20150106  2015  105   8  1  2  1  30607  ------  ---
...           ...   ...  ...  .. .. .. ..    ...     ...  ...
6848810  20190805  2019  804  10  2  4  7  50913  ------  ---
6848811  20190805  2019  804  10  2  4  7  50914  ------  ---
6848823  20190805  2019  804  10  2  4  7  60709  ------  ---
6848829  20190805  2019  804  10  2  4  7  60809  ------  ---
6848835  20190805  2019  804  10  2  4  7  60910  ------  ---
6848836  20190805  2019  804  10  2  4  7  60911  ------  ---
6848837  20190805  2019  804  10  2  4  7  60912  ------  ---
6848838  20190805  2019  804  10  2  4  7  60913  ------  ---
6848839  20190805  2019  804  10  2  4  7  60914  ------  ---
6848850  20190805  2019  804  10  2  4  7  70809  ------  ---
6848856  20190805  2019  804  10  2  4  7  70910  ------  ---
6848857  20190805  2019  804  10  2  4  7  70911  ------  ---
6848858  20190805  2019  804  10  2  4  7  70912  ------  ---
6848859  20190805  2019  804  10  2  4  7  70913  ------  ---
6848860  20190805  2019  804  10  2  4  7  70914  ------  ---
6848871  20190805  2019  804  10  2  4  7  80910  ------  ---
6848872  20190805  2019  804  10  2  4  7  80911  ------  ---
6848873  20190805  2019  804  10  2  4  7  80912  ------  ---
6848874  20190805  2019  804  10  2  4  7  80913  ------  ---
6848875  20190805  2019  804  10  2  4  7  80914  ------  ---
6848886  20190805  2019  804  10  2  4  7  91011  ------  ---
6848887  20190805  2019  804  10  2  4  7  91012  ------  ---
6848888  20190805  2019  804  10  2  4  7  91013  ------  ---
6848889  20190805  2019  804  10  2  4  7  91014  ------  ---
6848890  20190805  2019  804  10  2  4  7  91112  ------  ---
6848891  20190805  2019  804  10  2  4  7  91113  ------  ---
6848892  20190805  2019  804  10  2  4  7  91114  ------  ---
6848893  20190805  2019  804  10  2  4  7  91213  ------  ---
6848894  20190805  2019  804  10  2  4  7  91214  ------  ---
6848895  20190805  2019  804  10  2  4  7  91314  ------  ---

[15865 rows x 10 columns]

In [266]:
sanrenpuku[sanrenpuku[8] == '******']

                0     1    2  3  4  5  6      7       8    9
28850    20150113  2015  110  8  1  3  5  10215  ******  ***
28863    20150113  2015  110  8  1  3  5  10315  ******  ***
28875    20150113  2015  110  8  1  3  5  10415  ******  ***
28886    20150113  2015  110  8  1  3  5  10515  ******  ***
28896    20150113  2015  110  8  1  3  5  10615  ******  ***
28905    20150113  2015  110  8  1  3  5  10715  ******  ***
28913    20150113  2015  110  8  1  3  5  10815  ******  ***
28920    20150113  2015  110  8  1  3  5  10915  ******  ***
28926    20150113  2015  110  8  1  3  5  11015  ******  ***
28931    20150113  2015  110  8  1  3  5  11115  ******  ***
28935    20150113  2015  110  8  1  3  5  11215  ******  ***
28938    20150113  2015  110  8  1  3  5  11315  ******  ***
28940    20150113  2015  110  8  1  3  5  11415  ******  ***
28942    20150113  2015  110  8  1  3  5  11516  ******  ***
28954    20150113  2015  110  8  1  3  5  20315  ******  ***
28966    20150113  2015  110  8  1  3  5  20415  ******  ***
28977    20150113  2015  110  8  1  3  5  20515  ******  ***
28987    20150113  2015  110  8  1  3  5  20615  ******  ***
28996    20150113  2015  110  8  1  3  5  20715  ******  ***
29004    20150113  2015  110  8  1  3  5  20815  ******  ***
29011    20150113  2015  110  8  1  3  5  20915  ******  ***
29017    20150113  2015  110  8  1  3  5  21015  ******  ***
29022    20150113  2015  110  8  1  3  5  21115  ******  ***
29026    20150113  2015  110  8  1  3  5  21215  ******  ***
29029    20150113  2015  110  8  1  3  5  21315  ******  ***
29031    20150113  2015  110  8  1  3  5  21415  ******  ***
29033    20150113  2015  110  8  1  3  5  21516  ******  ***
29044    20150113  2015  110  8  1  3  5  30415  ******  ***
29055    20150113  2015  110  8  1  3  5  30515  ******  ***
29065    20150113  2015  110  8  1  3  5  30615  ******  ***
...           ...   ...  ... .. .. .. ..    ...     ...  ...
6845272  20190805  2019  804  4  2  4  9  10709  ******  ***
6845273  20190805  2019  804  4  2  4  9  10710  ******  ***
6845280  20190805  2019  804  4  2  4  9  20307  ******  ***
6845286  20190805  2019  804  4  2  4  9  20407  ******  ***
6845291  20190805  2019  804  4  2  4  9  20507  ******  ***
6845295  20190805  2019  804  4  2  4  9  20607  ******  ***
6845299  20190805  2019  804  4  2  4  9  20708  ******  ***
6845300  20190805  2019  804  4  2  4  9  20709  ******  ***
6845301  20190805  2019  804  4  2  4  9  20710  ******  ***
6845307  20190805  2019  804  4  2  4  9  30407  ******  ***
6845312  20190805  2019  804  4  2  4  9  30507  ******  ***
6845316  20190805  2019  804  4  2  4  9  30607  ******  ***
6845320  20190805  2019  804  4  2  4  9  30708  ******  ***
6845321  20190805  2019  804  4  2  4  9  30709  ******  ***
6845322  20190805  2019  804  4  2  4  9  30710  ******  ***
6845327  20190805  2019  804  4  2  4  9  40507  ******  ***
6845331  20190805  2019  804  4  2  4  9  40607  ******  ***
6845335  20190805  2019  804  4  2  4  9  40708  ******  ***
6845336  20190805  2019  804  4  2  4  9  40709  ******  ***
6845337  20190805  2019  804  4  2  4  9  40710  ******  ***
6845341  20190805  2019  804  4  2  4  9  50607  ******  ***
6845345  20190805  2019  804  4  2  4  9  50708  ******  ***
6845346  20190805  2019  804  4  2  4  9  50709  ******  ***
6845347  20190805  2019  804  4  2  4  9  50710  ******  ***
6845351  20190805  2019  804  4  2  4  9  60708  ******  ***
6845352  20190805  2019  804  4  2  4  9  60709  ******  ***
6845353  20190805  2019  804  4  2  4  9  60710  ******  ***
6845357  20190805  2019  804  4  2  4  9  70809  ******  ***
6845358  20190805  2019  804  4  2  4  9  70810  ******  ***
6845359  20190805  2019  804  4  2  4  9  70910  ******  ***

[65545 rows x 10 columns]

In [267]:
sanrenpuku.drop(sanrenpuku.index[sanrenpuku[8] == '******'], inplace=True)
sanrenpuku.drop(sanrenpuku.index[sanrenpuku[8] == '------'], inplace=True)

In [268]:
umatan.drop(umatan.index[umatan[8] == '******'], inplace=True)
umatan.drop(umatan.index[umatan[8] == '------'], inplace=True)

In [269]:
sanrenpuku = sanrenpuku.astype('int64')
umatan = umatan.astype('int64')

In [270]:
sanrenpuku.info()

<class 'pandas.core.frame.DataFrame'>
Int64Index: 6768795 entries, 0 to 6850204
Data columns (total 10 columns):
0    int64
1    int64
2    int64
3    int64
4    int64
5    int64
6    int64
7    int64
8    int64
9    int64
dtypes: int64(10)
memory usage: 568.1 MB

In [271]:
umatan.info()

<class 'pandas.core.frame.DataFrame'>
Int64Index: 3099952 entries, 0 to 3126003
Data columns (total 10 columns):
0    int64
1    int64
2    int64
3    int64
4    int64
5    int64
6    int64
7    int64
8    int64
9    int64
dtypes: int64(10)
memory usage: 260.2 MB

ほしいのは，0~6が同じでrankをカラムとした8(harai)の値

In [272]:
import gc
gc.collect()

241

In [286]:
sanrenpuku['key'] = sanrenpuku[1].astype(str) + sanrenpuku[2].astype(str) + sanrenpuku[3].astype(str) + sanrenpuku[4].astype(str) + sanrenpuku[5].astype(str) + sanrenpuku[6].astype(str)
umatan['key'] = umatan[1].astype(str) + umatan[2].astype(str) + umatan[3].astype(str) + umatan[4].astype(str) + umatan[5].astype(str) + umatan[6].astype(str)

In [287]:
sanrenpuku['key']

196           20151046111
279           20151046111
213           20151046111
278           20151046111
374           20151046111
281           20151046111
212           20151046111
381           20151046111
215           20151046111
280           20151046111
380           20151046111
214           20151046111
376           20151046111
385           20151046111
202           20151046111
384           20151046111
375           20151046111
284           20151046111
319           20151046111
218           20151046111
201           20151046111
106           20151046111
326           20151046111
253           20151046111
204           20151046111
118           20151046111
526           20151046111
260           20151046111
135           20151046111
321           20151046111
                ...
5589091    20189021021212
5588930    20189021021212
5589169    20189021021212
5589431    20189021021212
5589135    20189021021212
5588927    20189021021212
5588993    20189021021212
5588963    20189021021212
5588966    20189021021212
5589010    20189021021212
5589296    20189021021212
5589283    20189021021212
5589290    20189021021212
5589446    20189021021212
5589463    20189021021212
5589006    20189021021212
5589057    20189021021212
5589175    20189021021212
5589308    20189021021212
5588929    20189021021212
5589410    20189021021212
5589109    20189021021212
5589015    20189021021212
5589034    20189021021212
5589000    20189021021212
5589018    20189021021212
5589180    20189021021212
5589011    20189021021212
5589102    20189021021212
5589301    20189021021212
Name: key, Length: 6768795, dtype: object

In [288]:
umatan['key']

0            20151046111
1            20151046111
2            20151046111
3            20151046111
4            20151046111
5            20151046111
6            20151046111
7            20151046111
8            20151046111
9            20151046111
10           20151046111
11           20151046111
12           20151046111
13           20151046111
14           20151046111
15           20151046111
16           20151046111
17           20151046111
18           20151046111
19           20151046111
20           20151046111
21           20151046111
22           20151046111
23           20151046111
24           20151046111
25           20151046111
26           20151046111
27           20151046111
28           20151046111
29           20151046111
               ...
3125974    2019804102412
3125975    2019804102412
3125976    2019804102412
3125977    2019804102412
3125978    2019804102412
3125979    2019804102412
3125980    2019804102412
3125981    2019804102412
3125982    2019804102412
3125983    2019804102412
3125984    2019804102412
3125985    2019804102412
3125986    2019804102412
3125987    2019804102412
3125988    2019804102412
3125989    2019804102412
3125990    2019804102412
3125991    2019804102412
3125992    2019804102412
3125993    2019804102412
3125994    2019804102412
3125995    2019804102412
3125996    2019804102412
3125997    2019804102412
3125998    2019804102412
3125999    2019804102412
3126000    2019804102412
3126001    2019804102412
3126002    2019804102412
3126003    2019804102412
Name: key, Length: 3099952, dtype: object

In [289]:
sanrenpuku.info()

<class 'pandas.core.frame.DataFrame'>
Int64Index: 6768795 entries, 196 to 5589301
Data columns (total 11 columns):
0      int64
1      int64
2      int64
3      int64
4      int64
5      int64
6      int64
7      int64
8      int64
9      int64
key    object
dtypes: int64(10), object(1)
memory usage: 939.7+ MB

In [290]:
sanrenpuku = sanrenpuku.astype('int64')
umatan = umatan.astype('int64')

In [301]:
sanrenpuku.head()

            0     1    2  3  4  5  6      7      8    9          key
196  20150106  2015  104  6  1  1  1  30405    145    1  20151046111
24   20150106  2015  104  6  1  1  1  10314  85855  383  20151046111
87   20150106  2015  104  6  1  1  1  11014  84890  382  20151046111
141  20150106  2015  104  6  1  1  1  20607  83947  379  20151046111
116  20150106  2015  104  6  1  1  1  20315  83947  379  20151046111

In [302]:
umatan.head()

            0     1    2  3  4  5  6     7      8    9          key
0    20150106  2015  104  6  1  1  1   102  20602  154  20151046111
152  20150106  2015  104  6  1  1  1  1103    539   19  20151046111
153  20150106  2015  104  6  1  1  1  1104    437   15  20151046111
154  20150106  2015  104  6  1  1  1  1105    212    6  20151046111
155  20150106  2015  104  6  1  1  1  1106   5696   92  20151046111

In [304]:
sanrenpuku.rename(columns={8:'harai',9: 'rank'}, inplace=True)
umatan.rename(columns={8:'harai',9: 'rank'}, inplace=True)

# ソート

In [306]:
sanrenpuku.sort_values(['key','rank'], inplace=True)
umatan.sort_values(['key', 'rank'], inplace=True)

In [314]:
sanrenpuku.reset_index(drop=True, inplace=True)
umatan.reset_index(drop=True, inplace=True)

In [315]:
sanrenpuku

,0,1,2,3,4,5,6,7,harai,rank,key
0,20150106,2015,104,6,1,1,1,30405,145,1,20151046111
1,20150106,2015,104,6,1,1,1,40511,148,2,20151046111
2,20150106,2015,104,6,1,1,1,30511,185,3,20151046111
3,20150106,2015,104,6,1,1,1,40510,205,4,20151046111
4,20150106,2015,104,6,1,1,1,51011,222,5,20151046111
5,20150106,2015,104,6,1,1,1,40513,252,6,20151046111
6,20150106,2015,104,6,1,1,1,30510,258,7,20151046111
7,20150106,2015,104,6,1,1,1,51113,259,8,20151046111
8,20150106,2015,104,6,1,1,1,30513,262,9,20151046111
9,20150106,2015,104,6,1,1,1,40512,319,10,20151046111
10,20150106,2015,104,6,1,1,1,51112,319,11,20151046111
11,20150106,2015,104,6,1,1,1,30512,327,12,20151046111
12,20150106,2015,104,6,1,1,1,51013,354,13,20151046111
13,20150106,2015,104,6,1,1,1,51213,468,14,20151046111
14,20150106,2015,104,6,1,1,1,30411,482,15,20151046111
15,20150106,2015,104,6,1,1,1,51116,534,16,20151046111
16,20150106,2015,104,6,1,1,1,51012,537,17,20151046111
17,20150106,2015,104,6,1,1,1,40516,558,18,20151046111
18,20150106,2015,104,6,1,1,1,41011,592,19,20151046111
19,20150106,2015,104,6,1,1,1,30516,634,20,20151046111
20,20150106,2015,104,6,1,1,1,30410,671,21,20151046111
21,20150106,2015,104,6,1,1,1,20305,707,22,20151046111
22,20150106,2015,104,6,1,1,1,41113,714,23,20151046111
23,20150106,2015,104,6,1,1,1,31011,756,24,20151046111
24,20150106,2015,104,6,1,1,1,30413,793,25,20151046111
25,20150106,2015,104,6,1,1,1,20405,817,26,20151046111
26,20150106,2015,104,6,1,1,1,101113,844,27,20151046111
27,20150106,2015,104,6,1,1,1,31113,871,28,20151046111
28,20150106,2015,104,6,1,1,1,20511,896,29,20151046111
29,20150106,2015,104,6,1,1,1,41013,938,30,20151046111
...,...,...,...,...,...,...,...,...,...,...,...
6768765,20180903,2018,902,10,2,12,12,20914,122789,530,20189021021212
6768766,20180903,2018,902,10,2,12,12,10214,123804,532,20189021021212
6768767,20180903,2018,902,10,2,12,12,30914,124836,533,20189021021212
6768768,20180903,2018,902,10,2,12,12,91114,124836,533,20189021021212
6768769,20180903,2018,902,10,2,12,12,30514,129141,535,20189021021212
6768770,20180903,2018,902,10,2,12,12,10211,136185,536,20189021021212
6768771,20180903,2018,902,10,2,12,12,10814,137434,537,20189021021212
6768772,20180903,2018,902,10,2,12,12,10511,138707,538,20189021021212
6768773,20180903,2018,902,10,2,12,12,10514,140003,539,20189021021212
6768774,20180903,2018,902,10,2,12,12,11113,148320,540,20189021021212
6768775,20180903,2018,902,10,2,12,12,51014,149803,541,20189021021212
6768776,20180903,2018,902,10,2,12,12,50814,151316,542,20189021021212
6768777,20180903,2018,902,10,2,12,12,111314,154436,543,20189021021212
6768778,20180903,2018,902,10,2,12,12,101114,154436,543,20189021021212
6768779,20180903,2018,902,10,2,12,12,50914,154436,543,20189021021212
6768780,20180903,2018,902,10,2,12,12,11014,159365,546,20189021021212
6768781,20180903,2018,902,10,2,12,12,51314,166448,547,20189021021212
6768782,20180903,2018,902,10,2,12,12,31014,166448,547,20189021021212
6768783,20180903,2018,902,10,2,12,12,20514,166448,547,20189021021212
6768784,20180903,2018,902,10,2,12,12,81114,170231,550,20189021021212
6768785,20180903,2018,902,10,2,12,12,10213,170231,550,20189021021212
6768786,20180903,2018,902,10,2,12,12,21314,174190,552,20189021021212
6768787,20180903,2018,902,10,2,12,12,20314,178337,553,20189021021212
6768788,20180903,2018,902,10,2,12,12,11214,178337,553,20189021021212
6768789,20180903,2018,902,10,2,12,12,11314,182687,555,20189021021212
6768790,20180903,2018,902,10,2,12,12,10914,182687,555,20189021021212
6768791,20180903,2018,902,10,2,12,12,31114,187254,557,20189021021212
6768792,20180903,2018,902,10,2,12,12,11114,217106,558,20189021021212
6768793,20180903,2018,902,10,2,12,12,21114,241618,559,20189021021212
6768794,20180903,2018,902,10,2,12,12,51114,272370,560,20189021021212

In [316]:
umatan

,0,1,2,3,4,5,6,7,harai,rank,key
0,20150106,2015,104,6,1,1,1,504,132,1,20151046111
1,20150106,2015,104,6,1,1,1,503,133,2,20151046111
2,20150106,2015,104,6,1,1,1,511,136,3,20151046111
3,20150106,2015,104,6,1,1,1,405,176,4,20151046111
4,20150106,2015,104,6,1,1,1,510,182,5,20151046111
5,20150106,2015,104,6,1,1,1,1105,212,6,20151046111
6,20150106,2015,104,6,1,1,1,513,214,7,20151046111
7,20150106,2015,104,6,1,1,1,305,225,8,20151046111
8,20150106,2015,104,6,1,1,1,512,253,9,20151046111
9,20150106,2015,104,6,1,1,1,1005,265,10,20151046111
10,20150106,2015,104,6,1,1,1,1305,307,11,20151046111
11,20150106,2015,104,6,1,1,1,411,416,12,20151046111
12,20150106,2015,104,6,1,1,1,304,417,13,20151046111
13,20150106,2015,104,6,1,1,1,403,433,14,20151046111
14,20150106,2015,104,6,1,1,1,1104,437,15,20151046111
15,20150106,2015,104,6,1,1,1,516,501,16,20151046111
16,20150106,2015,104,6,1,1,1,1205,511,17,20151046111
17,20150106,2015,104,6,1,1,1,311,519,18,20151046111
18,20150106,2015,104,6,1,1,1,1103,539,19,20151046111
19,20150106,2015,104,6,1,1,1,410,553,20,20151046111
20,20150106,2015,104,6,1,1,1,1011,554,21,20151046111
21,20150106,2015,104,6,1,1,1,1110,576,22,20151046111
22,20150106,2015,104,6,1,1,1,1004,589,23,20151046111
23,20150106,2015,104,6,1,1,1,310,617,24,20151046111
24,20150106,2015,104,6,1,1,1,502,639,25,20151046111
25,20150106,2015,104,6,1,1,1,1003,668,26,20151046111
26,20150106,2015,104,6,1,1,1,1113,673,27,20151046111
27,20150106,2015,104,6,1,1,1,413,690,28,20151046111
28,20150106,2015,104,6,1,1,1,1303,699,29,20151046111
29,20150106,2015,104,6,1,1,1,313,710,30,20151046111
...,...,...,...,...,...,...,...,...,...,...,...
3099922,20180903,2018,902,10,2,12,12,1314,38346,211,20189021021212
3099923,20180903,2018,902,10,2,12,12,109,39508,212,20189021021212
3099924,20180903,2018,902,10,2,12,12,502,39810,213,20189021021212
3099925,20180903,2018,902,10,2,12,12,205,39810,213,20189021021212
3099926,20180903,2018,902,10,2,12,12,1404,40743,215,20189021021212
3099927,20180903,2018,902,10,2,12,12,1408,41389,216,20189021021212
3099928,20180903,2018,902,10,2,12,12,314,41720,217,20189021021212
3099929,20180903,2018,902,10,2,12,12,301,41720,217,20189021021212
3099930,20180903,2018,902,10,2,12,12,214,42399,219,20189021021212
3099931,20180903,2018,902,10,2,12,12,511,42746,220,20189021021212
3099932,20180903,2018,902,10,2,12,12,1114,43824,221,20189021021212
3099933,20180903,2018,902,10,2,12,12,1102,44573,222,20189021021212
3099934,20180903,2018,902,10,2,12,12,103,46563,223,20189021021212
3099935,20180903,2018,902,10,2,12,12,211,46983,224,20189021021212
3099936,20180903,2018,902,10,2,12,12,114,47845,225,20189021021212
3099937,20180903,2018,902,10,2,12,12,105,48288,226,20189021021212
3099938,20180903,2018,902,10,2,12,12,514,53764,227,20189021021212
3099939,20180903,2018,902,10,2,12,12,1410,56686,228,20189021021212
3099940,20180903,2018,902,10,2,12,12,501,57308,229,20189021021212
3099941,20180903,2018,902,10,2,12,12,1409,57945,230,20189021021212
3099942,20180903,2018,902,10,2,12,12,113,59262,231,20189021021212
3099943,20180903,2018,902,10,2,12,12,1301,59943,232,20189021021212
3099944,20180903,2018,902,10,2,12,12,1413,66860,233,20189021021212
3099945,20180903,2018,902,10,2,12,12,1101,75581,234,20189021021212
3099946,20180903,2018,902,10,2,12,12,1403,82779,235,20189021021212
3099947,20180903,2018,902,10,2,12,12,111,84114,236,20189021021212
3099948,20180903,2018,902,10,2,12,12,1401,88391,237,20189021021212
3099949,20180903,2018,902,10,2,12,12,1411,89915,238,20189021021212
3099950,20180903,2018,902,10,2,12,12,1402,98398,239,20189021021212
3099951,20180903,2018,902,10,2,12,12,1405,121281,240,20189021021212

In [318]:
sanrenpuku.describe()

,0,1,2,3,4,5,6,7,harai,rank,key
count,6.768795e+06,6.768795e+06,6.768795e+06,6.768795e+06,6.768795e+06,6.768795e+06,6.768795e+06,6.768795e+06,6.768795e+06,6.768795e+06,6.768795e+06
mean,2.016842e+07,2.016779e+03,6.244287e+02,6.265737e+00,2.490998e+00,4.776018e+00,6.383100e+00,4.204908e+04,6.371985e+04,2.616945e+02,3.161868e+11
std,1.326917e+04,1.331462e+00,3.424230e+02,2.315826e+00,1.280111e+00,2.695377e+00,3.495391e+00,2.859887e+04,1.162920e+05,1.810357e+02,1.092682e+12
min,2.015011e+07,2.015000e+03,1.040000e+02,1.000000e+00,1.000000e+00,1.000000e+00,1.000000e+00,1.020300e+04,0.000000e+00,1.000000e+00,2.015105e+10
25%,2.016022e+07,2.016000e+03,3.210000e+02,5.000000e+00,1.000000e+00,3.000000e+00,3.000000e+00,2.050700e+04,5.037000e+03,1.100000e+02,2.017326e+10
50%,2.017032e+07,2.017000e+03,6.090000e+02,6.000000e+00,2.000000e+00,5.000000e+00,6.000000e+00,3.131400e+04,2.029700e+04,2.350000e+02,2.019714e+10
75%,2.018051e+07,2.018000e+03,9.120000e+02,8.000000e+00,3.000000e+00,7.000000e+00,9.000000e+00,6.081300e+04,6.937800e+04,3.900000e+02,2.017313e+11
max,2.019080e+07,2.019000e+03,1.228000e+03,1.000000e+01,5.000000e+00,1.200000e+01,1.200000e+01,1.617180e+05,9.999990e+05,8.160000e+02,2.018902e+13

In [320]:
sanrenpuku.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 6768795 entries, 0 to 6768794
Data columns (total 11 columns):
0        int64
1        int64
2        int64
3        int64
4        int64
5        int64
6        int64
7        int64
harai    int64
rank     int64
key      int64
dtypes: int64(11)
memory usage: 568.1 MB

In [323]:
odds_sanrenpuku = pd.pivot_table(sanrenpuku, values="harai",index="key", columns="rank")
odds_umatan = pd.pivot_table(umatan, values="harai",index="key", columns="rank")

In [328]:
odds_sanrenpuku.info()

<class 'pandas.core.frame.DataFrame'>
Int64Index: 15926 entries, 20151046111 to 20189021021212
Columns: 816 entries, 1 to 816
dtypes: float64(816)
memory usage: 99.3 MB

In [329]:
odds_umatan.info()

<class 'pandas.core.frame.DataFrame'>
Int64Index: 15926 entries, 20151046111 to 20189021021212
Columns: 306 entries, 1 to 306
dtypes: float64(306)
memory usage: 37.3 MB

In [344]:
odds_sanrenpuku.to_csv('odds_sanrenpuku.csv')
odds_umatan.to_csv('odds_umatan.csv')
harai_sanrenpuku.to_csv('harai_sanrenpuku.csv')
harai_umatan.to_csv('harai_umatan.csv')