In [1]:
import numpy as np
import pandas as pd

In [2]:
from sklearn.model_selection import train_test_split
from sklearn.model_selection import StratifiedKFold
import matplotlib.pyplot as plt
import lightgbm as lgb
import seaborn as sns

/Users/k17099kk/anaconda3/lib/python3.6/site-packages/lightgbm/__init__.py:46: UserWarning: Starting from version 2.2.1, the library file in distribution wheels for macOS is built by the Apple Clang (Xcode_9.4.1) compiler.
This means that in case of installing LightGBM from PyPI via the ``pip install lightgbm`` command, you don't need to install the gcc compiler anymore.
Instead of that, you need to install the OpenMP library, which is required for running LightGBM on the system with the Apple Clang compiler.
You can install the OpenMP library by the following command: ``brew install libomp``.
  "You can install the OpenMP library by the following command: ``brew install libomp``.", UserWarning)

In [3]:
data = pd.read_csv('/Users/k17099kk/bigdata/keiba/keiba_data.csv')

In [4]:
data.head()

,harai,rank,rank_1,rank_2,rank_3,rank_4,rank_5,rank_6,rank_7,rank_8,...,rank_291,rank_292,rank_293,rank_294,rank_295,rank_296,rank_297,rank_298,rank_299,rank_300
0,7070,22,145,148,185,205,222,252,258,259,...,36854.0,36854.0,37402.0,37588.0,38547.0,38744.0,38744.0,39146.0,41285.0,41512.0
1,1600,4,105,115,120,160,191,198,244,274,...,46651.0,46964.0,46964.0,46964.0,47603.0,47603.0,48594.0,48594.0,48934.0,49628.0
2,4160,11,97,127,131,139,142,215,239,364,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
3,3050,9,117,120,121,143,211,286,295,300,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
4,11910,37,97,131,142,188,216,224,237,327,...,55168.0,55491.0,56482.0,56820.0,57163.0,57509.0,58938.0,58938.0,60057.0,60057.0

In [5]:
data['manba_flag'] = data['harai'].apply(lambda x : 1 if x >= 10000 else 0)

In [6]:
data.head()

,harai,rank,rank_1,rank_2,rank_3,rank_4,rank_5,rank_6,rank_7,rank_8,...,rank_292,rank_293,rank_294,rank_295,rank_296,rank_297,rank_298,rank_299,rank_300,manba_flag
0,7070,22,145,148,185,205,222,252,258,259,...,36854.0,37402.0,37588.0,38547.0,38744.0,38744.0,39146.0,41285.0,41512.0,0
1,1600,4,105,115,120,160,191,198,244,274,...,46964.0,46964.0,46964.0,47603.0,47603.0,48594.0,48594.0,48934.0,49628.0,0
2,4160,11,97,127,131,139,142,215,239,364,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,0
3,3050,9,117,120,121,143,211,286,295,300,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,0
4,11910,37,97,131,142,188,216,224,237,327,...,55491.0,56482.0,56820.0,57163.0,57509.0,58938.0,58938.0,60057.0,60057.0,1

In [7]:
X = data.drop(['harai', 'rank', 'manba_flag'],axis=1)
y = data['manba_flag']

In [8]:
X.head()

,rank_1,rank_2,rank_3,rank_4,rank_5,rank_6,rank_7,rank_8,rank_9,rank_10,...,rank_291,rank_292,rank_293,rank_294,rank_295,rank_296,rank_297,rank_298,rank_299,rank_300
0,145,148,185,205,222,252,258,259,262,319,...,36854.0,36854.0,37402.0,37588.0,38547.0,38744.0,38744.0,39146.0,41285.0,41512.0
1,105,115,120,160,191,198,244,274,287,292,...,46651.0,46964.0,46964.0,46964.0,47603.0,47603.0,48594.0,48594.0,48934.0,49628.0
2,97,127,131,139,142,215,239,364,368,411,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
3,117,120,121,143,211,286,295,300,305,305,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
4,97,131,142,188,216,224,237,327,330,336,...,55168.0,55491.0,56482.0,56820.0,57163.0,57509.0,58938.0,58938.0,60057.0,60057.0

In [9]:
y.head()

0    0
1    0
2    0
3    0
4    1
Name: manba_flag, dtype: int64

In [11]:
from sklearn.model_selection import train_test_split
X_train, X_test, y_train, y_test = train_test_split(X, y, test_size=0.2, random_state=42,)

In [12]:
X_train.describe

<bound method NDFrame.describe of        rank_1  rank_2  rank_3  rank_4  rank_5  rank_6  rank_7  rank_8  rank_9  \
10012      53      93     114     114     127     149     161     164     222
9826       58     134     153     160     200     215     218     220     255
3872      184     248     303     307     347     349     360     406     430
11162     118     153     168     184     196     213     218     227     266
4049       61     116     134     182     182     204     226     231     244
267       226     236     262     291     333     348     350     413     424
4080      198     205     246     252     268     279     280     334     386
3595       73     112     124     141     145     174     180     187     234
8923       69      72     138     148     187     189     243     335     338
5635      136     147     150     157     169     227     301     301     306
7393       61     136     157     194     200     340     388     400     449
11912      55     128     138     193     258     274     284     286     304
4907       89     111     129     135     172     198     227     268     295
5235       74      94     119     122     150     162     280     285     292
7018      320     325     340     346     359     367     387     404     451
1379       51     109     121     148     164     182     215     226     246
10096      56      65      66      92     159     159     174     198     200
9427      102     225     228     230     246     265     319     322     334
416       140     172     215     218     293     297     340     356     420
3059      114     118     166     177     213     234     322     335     358
4202       84      87     117     181     197     225     246     253     278
1962       40     171     174     203     230     249     260     262     268
620       203     244     273     295     297     386     394     437     449
1703      100     145     162     222     236     275     288     305     315
6896      103     129     134     144     145     173     237     239     265
3482      181     326     351     354     366     421     429     430     432
6495      137     145     170     219     221     294     302     329     329
4649      181     191     198     211     223     241     294     310     332
6232      150     154     181     339     353     380     416     423     437
5050      108     123     123     158     159     163     187     189     252
...       ...     ...     ...     ...     ...     ...     ...     ...     ...
9274       67     101     125     179     186     193     240     263     308
8666      102     104     135     244     273     317     319     333     357
11096      95     117     119     170     178     183     213     250     302
6396      157     174     222     243     260     265     328     334     356
3385      157     184     211     233     261     348     369     369     392
4555      292     303     402     404     443     463     481     483     491
1184      148     177     241     320     363     395     403     411     416
6420      130     131     142     168     188     247     305     322     337
5051      158     169     180     228     232     263     337     367     411
5311       85     138     161     162     176     178     183     188     287
2433      134     144     160     173     194     215     217     236     263
6949       53     126     141     171     203     271     322     385     392
10583     134     157     167     193     202     221     224     271     279
769        92      97      98     129     184     191     231     256     284
1685       81     177     187     189     209     212     262     268     272
8322      157     189     247     274     316     354     387     498     500
11111     150     155     171     203     262     328     355     383     388
11363     160     174     193     253     275     295     312     361     382
11636      68      84     116     144     173     197     209     212     231
5578       83     114     210     248     271     320     332     336     372
4426      121     137     141     150     207     228     241     244     245
466       200     259     262     343     370     404     407     419     430
6265      110     150     181     201     211     233     281     317     342
5734       43      78      84     129     140     206     311     357     370
11284     107     116     171     183     193     212     254     308     324
11964     150     164     193     225     250     285     286     315     316
5191      152     161     189     203     226     269     271     278     292
5390      120     148     148     186     211     344     349     422     444
860        56      66      71      87      89      95     143     174     208
7270       78      91     138     142     191     235     250     293     321

       rank_10    ...     rank_291  rank_292  rank_293  rank_294  rank_295  \
10012      271    ...          NaN       NaN       NaN       NaN       NaN
9826       266    ...          NaN       NaN       NaN       NaN       NaN
3872       447    ...      37235.0   37778.0   39176.0   40487.0   40611.0
11162      293    ...          NaN       NaN       NaN       NaN       NaN
4049       278    ...      68871.0   68871.0   68871.0   69588.0   70321.0
267        444    ...      18900.0   19072.0   19189.0   19426.0   19609.0
4080       387    ...      24688.0   24793.0   24899.0   25115.0   25334.0
3595       264    ...          NaN       NaN       NaN       NaN       NaN
8923       376    ...          NaN       NaN       NaN       NaN       NaN
5635       309    ...          NaN       NaN       NaN       NaN       NaN
7393       451    ...      43830.0   43830.0   43830.0   44642.0   45059.0
11912      308    ...      40893.0   41193.0   41499.0   41808.0   42123.0
4907       312    ...      66010.0   66010.0   66735.0   66735.0   66735.0
5235       297    ...          NaN       NaN       NaN       NaN       NaN
7018       453    ...      15432.0   15432.0   15588.0   15715.0   15876.0
1379       294    ...          NaN       NaN       NaN       NaN       NaN
10096      204    ...          NaN       NaN       NaN       NaN       NaN
9427       362    ...      35932.0   35932.0   36709.0   36709.0   36798.0
416        466    ...      21419.0   21525.0   21525.0   21631.0   21957.0
3059       431    ...      28013.0   28503.0   28594.0   28640.0   28731.0
4202       297    ...      68857.0   68857.0   71295.0   71931.0   71931.0
1962       285    ...          NaN       NaN       NaN       NaN       NaN
620        473    ...      17143.0   17215.0   17263.0   17385.0   17685.0
1703       315    ...      28584.0   28989.0   29092.0   29511.0   30053.0
6896       277    ...      60196.0   60706.0   60706.0   60706.0   61225.0
3482       531    ...      15153.0   15209.0   15265.0   15378.0   15378.0
6495       395    ...      31814.0   32571.0   33043.0   33529.0   33529.0
4649       389    ...      21636.0   21685.0   21734.0   21783.0   22186.0
6232       438    ...      28190.0   28681.0   28806.0   28932.0   29714.0
5050       274    ...          NaN       NaN       NaN       NaN       NaN
...        ...    ...          ...       ...       ...       ...       ...
9274       323    ...          NaN       NaN       NaN       NaN       NaN
8666       363    ...      32136.0   32380.0   32380.0   33655.0   33655.0
11096      307    ...      68562.0   68562.0   68562.0   68562.0   68562.0
6396       365    ...          NaN       NaN       NaN       NaN       NaN
3385       397    ...      27767.0   27767.0   28130.0   28315.0   29080.0
4555       503    ...      22891.0   22891.0   22891.0   23284.0   23365.0
1184       441    ...      15916.0   15936.0   15977.0   16018.0   16331.0
6420       383    ...          NaN       NaN       NaN       NaN       NaN
5051       436    ...      22984.0   22984.0   23133.0   23284.0   23284.0
5311       293    ...          NaN       NaN       NaN       NaN       NaN
2433       266    ...          NaN       NaN       NaN       NaN       NaN
6949       412    ...      43119.0   43412.0   43710.0   44317.0   44627.0
10583      311    ...      57164.0   58504.0   59433.0   59908.0   60882.0
769        298    ...          NaN       NaN       NaN       NaN       NaN
1685       308    ...     119131.0  123626.0  126004.0  128474.0  131044.0
8322       573    ...      15451.0   15610.0   15680.0   15703.0   15804.0
11111      451    ...      25930.0   25930.0   26097.0   26266.0   26438.0
11363      421    ...      26998.0   27188.0   27381.0   27577.0   27775.0
11636      290    ...          NaN       NaN       NaN       NaN       NaN
5578       459    ...      23582.0   23924.0   24157.0   24157.0   24395.0
4426       260    ...      65066.0   65922.0   65922.0   66801.0   66801.0
466        448    ...      21273.0   21335.0   21361.0   21433.0   21451.0
6265       377    ...      37264.0   37563.0   38173.0   38486.0   38804.0
5734       385    ...          NaN       NaN       NaN       NaN       NaN
11284      369    ...          NaN       NaN       NaN       NaN       NaN
11964      318    ...      37556.0   37556.0   37754.0   37754.0   38992.0
5191       301    ...      43376.0   44277.0   44585.0   44898.0   45376.0
5390       494    ...      26305.0   26452.0   26452.0   26602.0   26602.0
860        260    ...          NaN       NaN       NaN       NaN       NaN
7270       362    ...      62628.0   63168.0   63168.0   63168.0   63168.0

       rank_296  rank_297  rank_298  rank_299  rank_300
10012       NaN       NaN       NaN       NaN       NaN
9826        NaN       NaN       NaN       NaN       NaN
3872    40986.0   41984.0   42308.0   42559.0   43150.0
11162       NaN       NaN       NaN       NaN       NaN
4049    70321.0   70321.0   71069.0   71833.0   72614.0
267     19670.0   20641.0   20846.0   20916.0   21270.0
4080    25900.0   26735.0   26859.0   27366.0   27496.0
3595        NaN       NaN       NaN       NaN       NaN
8923        NaN       NaN       NaN       NaN       NaN
5635        NaN       NaN       NaN       NaN       NaN
7393    45059.0   45484.0   45917.0   45917.0   47736.0
11912   42123.0   42766.0   44113.0   44113.0   44113.0
4907    66735.0   68235.0   68235.0   69010.0   69010.0
5235        NaN       NaN       NaN       NaN       NaN
7018    15876.0   16108.0   16277.0   16346.0   16485.0
1379        NaN       NaN       NaN       NaN       NaN
10096       NaN       NaN       NaN       NaN       NaN
9427    38178.0   38858.0   38858.0   39257.0   39665.0
416     22523.0   22640.0   22877.0   23119.0   23119.0
3059    28778.0   28824.0   28917.0   28917.0   29931.0
4202    72579.0   72579.0   73239.0   73239.0   73239.0
1962        NaN       NaN       NaN       NaN       NaN
620     18153.0   18342.0   18342.0   18425.0   18452.0
1703    30313.0   30615.0   30692.0   31080.0   31318.0
6896    61225.0   61753.0   62836.0   63958.0   63958.0
3482    15522.0   15639.0   15699.0   15788.0   15788.0
6495    33694.0   33861.0   35811.0   36000.0   36000.0
4649    22445.0   22445.0   22445.0   23037.0   23148.0
6232    29714.0   30399.0   31412.0   32022.0   32819.0
5050        NaN       NaN       NaN       NaN       NaN
...         ...       ...       ...       ...       ...
9274        NaN       NaN       NaN       NaN       NaN
8666    34193.0   34469.0   34469.0   34749.0   35034.0
11096   70982.0   71827.0   71827.0   72693.0   72693.0
6396        NaN       NaN       NaN       NaN       NaN
3385    29080.0   30309.0   30524.0   31187.0   31646.0
4555    23858.0   24286.0   24461.0   25189.0   25283.0
1184    16504.0   16526.0   16547.0   16591.0   16724.0
6420        NaN       NaN       NaN       NaN       NaN
5051    23438.0   23438.0   23750.0   23750.0   24235.0
5311        NaN       NaN       NaN       NaN       NaN
2433        NaN       NaN       NaN       NaN       NaN
6949    44941.0   44941.0   45583.0   45911.0   46924.0
10583   61382.0   61382.0   62405.0   62929.0   62929.0
769         NaN       NaN       NaN       NaN       NaN
1685   133718.0  133718.0  139408.0  139408.0  142439.0
8322    15820.0   15820.0   16316.0   16367.0   16511.0
11111   26612.0   26788.0   26788.0   27148.0   27331.0
11363   27976.0   28388.0   28811.0   28811.0   28811.0
11636       NaN       NaN       NaN       NaN       NaN
5578    24516.0   24761.0   24761.0   24886.0   25011.0
4426    67704.0   67704.0   68631.0   70564.0   71573.0
466     21541.0   21550.0   21899.0   22059.0   22288.0
6265    39128.0   39128.0   39791.0   39791.0   39791.0
5734        NaN       NaN       NaN       NaN       NaN
11284       NaN       NaN       NaN       NaN       NaN
11964   39423.0   40087.0   40314.0   40775.0   40775.0
5191    45537.0   45700.0   46029.0   46195.0   46531.0
5390    26753.0   26906.0   27060.0   27375.0   27375.0
860         NaN       NaN       NaN       NaN       NaN
7270    63717.0   64276.0   64276.0   64845.0   64845.0

[9576 rows x 300 columns]>

colormap = plt.cm.RdBu
plt.figure(figsize=(14,12))
plt.title('Pearson Correlation of Features', y=1.05, size=15)
sns.heatmap(X_train.astype(float).corr(),linewidths=0.1,vmax=1.0, 
            square=True, cmap=colormap, linecolor='white', annot=True)

In [ ]:
pd.plotting.scatter_matrix(X_train)